<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Label Viewer</title>
    <script language="javascript" type="text/javascript" src="js/jquery-3.6.4.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/bootstrap.bundle.js"></script>
    <script language="javascript" type="text/javascript" src="js/fontawesome.all.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fontawesome.all.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<style>
    .card{
        height: 280px;
    }
</style>
<!--

-->
<body>
    <%- include('./header') %>
    <div class="container my-4">
        <div class="row row-cols-4" id="gallerylist">
            <div class="col">
                <div class="card" style="width: 18rem; border: 2px dashed #D9D9D9;">
                    <div class="card-body d-flex justify-content-center align-items-center" onclick="pageMove('addfiles');">
                      <p class="card-text">+ add gallery</p>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="http://49.50.160.122:3000/soccer_kick_sample/%2F220802%208%EB%B0%A9%ED%96%A5%EC%B9%B4%EB%A9%94%EB%9D%BC%20%ED%82%A5%201%ED%9A%8C%205%EC%9E%A5%EC%82%AC%EC%A7%84%EC%B6%94%EC%B6%9C%2F1-1%2F175303_661_CH1.jpg" class="card-img-top" alt="...">
                    <div class="card-img-overlay">
                        <div class="btn-group dropend" data-bs-toggle="dropdown" aria-expanded="false" style="float: right;">
                            <i class="fa-solid fa-ellipsis-vertical "style="color: #f4f4f4; font-size: 20px;" ></i>
                        </div>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">edit</button></li>
                            <li><button class="dropdown-item" type="button">delete</button></li>
                        </ul>
                    </div>
                    <div class="card-body">
                      <p class="gallery-title" style="">축구</p>
                      <span class="" style="color: #666666;">Updated</span>
                      <span class="" >2023-04-17</span>
                  </div>
            </div>
        </div>
        
    </div>
</body>
<script>
    function pageMove(page){
        var params;
        var url = "http://127.0.0.1:7000/";
        switch (page){
            case "addfiles" :
                params = "addFiles"
                break;
            case "soccer" :
                params = "gallery"
                break;
        }
        window.location.href = url + params;

    }
</script>
</html>